*.js
*.js.map
*.log
!scripts/*.js
demo/app/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
demo/*.d.ts
!demo/references.d.ts
demo/lib
demo/platforms
demo/node_modules
node_modules
demo-ng/app/*.js
!demo-ng/karma.conf.js
!demo-ng/app/tests/*.js
demo-ng/*.d.ts
!demo-ng/references.d.ts
demo-ng/lib
demo-ng/platforms
demo-ng/node_modules
*.d.ts
.DS_Store

